<main>
			<div id="BemVindo">
				Bem Vinda <br />
				Minha Deusa Princesa Rainha Dotosa 🥳
			</div>
			<div id="opcoes">
				<a href="/ali/cadastrarAli" class="opt">
					<div class="optTitulo t1">
						<h5>Add</h5>
						<h5>AliExpress</h5>
					</div>
					<div class="optCorpo">
						<i class="bi bi-plus-circle-fill"></i>
					</div>
				</a>
				<a href="/beleza/cadastrarBeleza" class="opt">
					<div class="optTitulo t2">
						<h5>Add</h5>
						<h5>Beleza</h5>
					</div>
					<div class="optCorpo">
						<i class="bi bi-plus-circle-fill"></i>
					</div>
				</a>
				<a href="/pesente/cadastraresente" class="opt">
					<div class="optTitulo t3">
						<h5>Add</h5>
						<h5>Pesente</h5>
					</div>
					<div class="optCorpo">
						<i class="bi bi-plus-circle-fill"></i>
					</div>
				</a>
			</div>

			<div id="areiaSorte">
	<h5>Sorteio de Pesentes</h5>
	<div id="areaSorteio">
		<div id="areaNumero">
			<div class="areaNum">
				<div class="tituloNum">Aliexpress</div>
				<div class="NumAli Num"></div>
			</div>
			<div class="areaNum">
				<div class="tituloNum">Beleza</div>
				<div class="NumBeleza Num"></div>
			</div>
			<div class="areaNum">
				<div class="tituloNum">Pesentinho</div>
				<div class="NumPesente Num"></div>
			</div>
		</div>
		<div id="button">
			<button>Me Aperte😊</button>
		</div>
	</div>
</div>

		</main>