<main>
    <div id="tituloCadastrados">
        <p>Editar Pesente:</p>
    </div>

    <form action="/pesente/editarPesente" method="POST">
        <label for="nome">Nome:</label><br />
        <input type="text" name="nome" id="nome" value="{{pesente.nome}}"/><br />
        <label for="preco">Preço:</label><br />
        <input type="number" name="preco" id="preco" value="{{pesente.preco}}"/><br />
        <label for="link">Link:</label><br />
        <input type="text" name="link" id="link" value="{{pesente.link}}"/><br />
        <input type="hidden" name="id_pesente" id="id_pesente" value="{{pesente.id_pesente}}">
        <button type="submit">Atualizar</button>
    </form>
</main>
