<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/estilo.css" />
        <link rel="stylesheet" href="/tipos.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
        
	</head>
	<body>
		<nav>
			<div>
				<a href="#" onclick="history.back();">😘 Voltar?</a>

			</div>
			<div>
				<a href="#" onclick="alert('VOCE É MINHA! NAO VAI SAIR');">Sair?🥺</a>
			</div>
		</nav>
		{{{body}}}

		<footer>
			<a href="/" class="footerIten active">
				<i class="bi bi-house"></i>
				<p>Inicio</p>
			</a>
			<a href="/ali/listarAli" class="footerIten">
				<i class="bi bi-bag"></i>
				<p>AliExpress</p>
			</a>
			<a href="/beleza/listarBeleza" class="footerIten">
				<i class="bi bi-balloon-heart"></i>
				<p>Beleza</p>
			</a>
			<a href="/pesente/listarPesente" class="footerIten">
				<i class="bi bi-gift"></i>
				<p>Pesentinho</p>
			</a>
		</footer>
	</body>
	<script src="/index.js"></script>
</html>
